doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/pure/pure.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/lib/angular/angular.js')
    script(src='/lib/angular/angular-resource.js')
    script(src='/lib/angular/angular-route.js')