a#edit-button.pure-button.fa.fa-cog(data-ng-href='/edit/{{currentSlide.id}}')
article.pure-g
    .pure-u-2-3(data-ng-if='currentSlide.image')
        h1(data-ng-bind='currentSlide.title')
        section(data-ng-bind-html='currentSlide.content')
    .pure-u-1(data-ng-if='!currentSlide.image')
        h1(data-ng-bind='currentSlide.title')
        section(data-ng-bind-html='currentSlide.content')
    .pure-u-1-3(data-ng-if='currentSlide.image')
        img(data-ng-src='{{currentSlide.image}}')
button.previous-button.pure-button.fa.fa-caret-left(
data-ng-click='previousSlide()',
data-ng-show='currentSlide.id > 1')
button.next-button.pure-button.fa.fa-caret-right(
data-ng-click='nextSlide()',
data-ng-hide='currentSlide.id == allSlides.length')